* {
  margin: 0 auto;
}
body {
margin-top: 30px;
}
h2,h3 {
  text-align: center;
}
.table th, .table td{
  padding: 0.45rem;
}
.btn_group{
  display: flex;
  justify-content: center;
}
.login_form{
  display: none;
  margin: 20px auto;
  max-width: 270px;
}

.system_area{
  margin: 20px auto;
  max-width: 980px;
  display: none;
}
.show{
  display: block;
}
.disappear{
  display: none;
}
.price_img{
  vertical-align:middle;
  border-radius: 2.25rem!important;
}